In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_excel ('dataset 1/dognition_data_aggregated_by_dogid.xlsx')

In [3]:
df.head().T

,0,1,2,3,4
Dog ID,fd27b272-7144-11e5-ba71-058fbc01cf0b,fd27b5ba-7144-11e5-ba71-058fbc01cf0b,fd27b6b4-7144-11e5-ba71-058fbc01cf0b,fd27b79a-7144-11e5-ba71-058fbc01cf0b,fd27b86c-7144-11e5-ba71-058fbc01cf0b
Total Tests Completed,21,20,2,11,31
Mean ITI (days),28.201076,0.413307,0.009132,56.115179,7.734254
Mean ITI (minutes),40609.549167,595.162281,13.15,80805.858333,11137.326111
Median ITI (days),0.004687,0.005845,0.009132,0.004433,0.000399
Median ITI (minutes),6.75,8.416667,13.15,6.383333,0.575
Time diff between first and last game (days),564.021516,7.852836,0.009132,561.151794,232.027627
Time diff between first and last game (minutes),812190.983333,11308.083333,13.15,808058.583333,334119.783333
User ID,ce134e42-7144-11e5-ba71-058fbc01cf0b,ce1353d8-7144-11e5-ba71-058fbc01cf0b,ce135ab8-7144-11e5-ba71-058fbc01cf0b,ce13507c-7144-11e5-ba71-058fbc01cf0b,ce135e14-7144-11e5-ba71-058fbc01cf0b
Gender,female,male,male,male,female
Birthday,2011.0,2007.0,2012.0,2011.0,2010.0
Breed,Labrador Retriever,Shetland Sheepdog,Golden Retriever,Golden Retriever,Shih Tzu
Breed_Type,Pure Breed,Pure Breed,Pure Breed,Pure Breed,Pure Breed
Breed_Group,Sporting,Herding,Sporting,Sporting,Toy
Weight,50.0,20.0,70.0,70.0,190.0
Dog_Fixed,1.0,1.0,0.0,0.0,0.0
DNA_Tested,0.0,0.0,1.0,0.0,0.0
Dimension,charmer,protodog,0,0,einstein
Sign_in_Count,14.0,8.0,3.0,21.0,181.0
Max_Dogs,2.0,2.0,1.0,1.0,13.0
Membership_ID,2.0,1.0,1.0,1.0,2.0
Subscribed,1.0,1.0,1.0,1.0,1.0
City,Grand Forks,Barre,Darien,Winnetka,Raleigh
State,ND,MA,CT,IL,NC
Zip,58201,01005,06820,60093,27606
Country,US,US,US,US,US
Exclude,0,0,0,0,1
Free_Start_User,0,0,0,0,0
Last_Active_At,2015-03-12 00:25:00,00:00:00,00:00:00,2014-09-12 19:26:00,00:00:00
Membership_Type,2,1,1,1,2

In [4]:
df.tail().T

,17981,17982,17983,17984,17985
Dog ID,fdc235e0-7144-11e5-ba71-058fbc01cf0b,fdc23a68-7144-11e5-ba71-058fbc01cf0b,fdc23ba8-7144-11e5-ba71-058fbc01cf0b,fdc23e96-7144-11e5-ba71-058fbc01cf0b,fdc2417a-7144-11e5-ba71-058fbc01cf0b
Total Tests Completed,7,1,20,4,6
Mean ITI (days),0.009408,NaN,0.004957,0.002948,0.004012
Mean ITI (minutes),13.547222,NaN,7.137719,4.244444,5.776667
Median ITI (days),0.004786,NaN,0.004201,0.002778,0.003032
Median ITI (minutes),6.891667,NaN,6.05,4.0,4.366667
Time diff between first and last game (days),0.056447,0.0,0.094178,0.008843,0.020058
Time diff between first and last game (minutes),81.283333,0.0,135.616667,12.733333,28.883333
User ID,ce9b2aba-7144-11e5-ba71-058fbc01cf0b,ce9b2eb6-7144-11e5-ba71-058fbc01cf0b,ce9b306e-7144-11e5-ba71-058fbc01cf0b,ce9b33b6-7144-11e5-ba71-058fbc01cf0b,ce9b35e6-7144-11e5-ba71-058fbc01cf0b
Gender,male,male,female,female,male
Birthday,2012.0,2014.0,2008.0,2011.0,2005.0
Breed,Chihuahua-Jack Russell Terrier Mix,Shetland Sheepdog,Cockapoo,Yorkshire Terrier,Bichon Frise
Breed_Type,Cross Breed,Pure Breed,Popular Hybrid,Pure Breed,Pure Breed
Breed_Group,0,Herding,0,Toy,Non-Sporting
Weight,10.0,10.0,10.0,0.0,0.0
Dog_Fixed,1.0,0.0,1.0,1.0,1.0
DNA_Tested,0.0,0.0,0.0,0.0,0.0
Dimension,0,0,charmer,0,0
Sign_in_Count,1.0,1.0,1.0,1.0,1.0
Max_Dogs,1.0,1.0,1.0,1.0,1.0
Membership_ID,10.0,9.0,10.0,9.0,10.0
Subscribed,0.0,0.0,1.0,0.0,1.0
City,NaN,NaN,Carolina Beach,NaN,NaN
State,NaN,NaN,NC,NaN,NaN
Zip,NaN,NaN,28428,NaN,NaN
Country,NaN,NaN,US,NaN,NaN
Exclude,0,0,0,0,0
Free_Start_User,0,1,0,1,0
Last_Active_At,2015-10-12 14:44:00,2015-10-12 20:43:00,2015-10-12 20:13:00,2015-10-12 19:17:00,2015-10-12 20:49:00
Membership_Type,1,4,1,4,1

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17986 entries, 0 to 17985
Data columns (total 30 columns):
 #   Column                                           Non-Null Count  Dtype
---  ------                                           --------------  -----
 0   Dog ID                                           17986 non-null  object
 1   Total Tests Completed                            17986 non-null  int64
 2   Mean ITI (days)                                  16718 non-null  float64
 3   Mean ITI (minutes)                               16718 non-null  float64
 4   Median ITI (days)                                16718 non-null  float64
 5   Median ITI (minutes)                             16718 non-null  float64
 6   Time diff between first and last game (days)     17986 non-null  float64
 7   Time diff between first and last game (minutes)  17986 non-null  float64
 8   User ID                                          17985 non-null  object
 9   Gender                                           17985 non-null  object
 10  Birthday                                         17985 non-null  float64
 11  Breed                                            17970 non-null  object
 12  Breed_Type                                       17985 non-null  object
 13  Breed_Group                                      17985 non-null  object
 14  Weight                                           17985 non-null  float64
 15  Dog_Fixed                                        17985 non-null  float64
 16  DNA_Tested                                       17985 non-null  float64
 17  Dimension                                        17985 non-null  object
 18  Sign_in_Count                                    17985 non-null  float64
 19  Max_Dogs                                         17985 non-null  float64
 20  Membership_ID                                    17985 non-null  float64
 21  Subscribed                                       17985 non-null  float64
 22  City                                             11618 non-null  object
 23  State                                            11623 non-null  object
 24  Zip                                              11589 non-null  object
 25  Country                                          11718 non-null  object
 26  Exclude                                          17985 non-null  object
 27  Free_Start_User                                  17985 non-null  object
 28  Last_Active_At                                   17985 non-null  object
 29  Membership_Type                                  17985 non-null  object
dtypes: float64(14), int64(1), object(15)
memory usage: 4.1+ MB

In [6]:
df.isnull().sum()

Dog ID                                                0
Total Tests Completed                                 0
Mean ITI (days)                                    1268
Mean ITI (minutes)                                 1268
Median ITI (days)                                  1268
Median ITI (minutes)                               1268
Time diff between first and last game (days)          0
Time diff between first and last game (minutes)       0
User ID                                               1
Gender                                                1
Birthday                                              1
Breed                                                16
Breed_Type                                            1
Breed_Group                                           1
Weight                                                1
Dog_Fixed                                             1
DNA_Tested                                            1
Dimension                                             1
Sign_in_Count                                         1
Max_Dogs                                              1
Membership_ID                                         1
Subscribed                                            1
City                                               6368
State                                              6363
Zip                                                6397
Country                                            6268
Exclude                                               1
Free_Start_User                                       1
Last_Active_At                                        1
Membership_Type                                       1
dtype: int64

In [7]:
df2 = pd.read_excel ('dataset 1/dognition_data_no_aggregation_with_zip_code_correction.xlsx')

In [8]:
df2.head().T

,0,1,2,3,4
Created_at,2013-05-13 16:17:00,2013-05-22 18:54:00,2013-05-22 18:55:00,2013-05-22 18:56:00,2013-05-22 18:58:00
Updated_at,2013-05-13 16:17:00,2013-05-22 18:54:00,2013-05-22 18:55:00,2013-05-22 18:56:00,2013-05-22 18:58:00
User_ID,ce134a78-7144-11e5-ba71-058fbc01cf0b,ce134a78-7144-11e5-ba71-058fbc01cf0b,ce134a78-7144-11e5-ba71-058fbc01cf0b,ce134a78-7144-11e5-ba71-058fbc01cf0b,ce134a78-7144-11e5-ba71-058fbc01cf0b
Dog_ID,fd3d1b44-7144-11e5-ba71-058fbc01cf0b,fd3d1b44-7144-11e5-ba71-058fbc01cf0b,fd3d1b44-7144-11e5-ba71-058fbc01cf0b,fd3d1b44-7144-11e5-ba71-058fbc01cf0b,fd3d1b44-7144-11e5-ba71-058fbc01cf0b
Test_name,Yawn Warm-up,Yawn Game,Eye Contact Warm-up,Eye Contact Game,Treat Warm-up
Subcategory_name,Empathy,Empathy,Empathy,Empathy,Communication
Gender,male,male,male,male,male
Birthday,2009,2009,2009,2009,2009
Breed,Shih Tzu,Shih Tzu,Shih Tzu,Shih Tzu,Shih Tzu
Breed_Type,Pure Breed,Pure Breed,Pure Breed,Pure Breed,Pure Breed
Breed_Group,Toy,Toy,Toy,Toy,Toy
Weight,190,190,190,190,190
Dog_Fixed,1.0,1.0,1.0,1.0,1.0
DNA_Tested,0.0,0.0,0.0,0.0,0.0
Dimension,einstein,einstein,einstein,einstein,einstein
Sign_in_Count,310,310,310,310,310
Max_Dogs,3,3,3,3,3
Membership_ID,2.0,2.0,2.0,2.0,2.0
Subscribed,1,1,1,1,1
City,Durham,Durham,Durham,Durham,Durham
State,NC,NC,NC,NC,NC
Zip,27701,27701,27701,27701,27701
Country,US,US,US,US,US
Exclude,1,1,1,1,1
Free_Start_User,0,0,0,0,0
Last_Active_At,2015-02-23 13:39:00,2015-02-23 13:39:00,2015-02-23 13:39:00,2015-02-23 13:39:00,2015-02-23 13:39:00
Membership_Type,2,2,2,2,2
Rating,NaN,NaN,NaN,NaN,NaN
Rank_by_UserID,1.0,2.0,3.0,4.0,5.0
Rank_by_DogID,1.0,2.0,3.0,4.0,5.0

In [9]:
df2.tail().T

,177476,177477,177478,177479,177480
Created_at,2013-05-14 08:45:00,2013-05-14 08:50:00,2013-05-14 08:54:00,2013-05-19 04:45:00,2013-05-19 05:05:00
Updated_at,2013-05-14 08:45:00,2013-05-14 08:50:00,2013-05-14 08:54:00,2013-05-19 04:45:00,2013-05-19 05:05:00
User_ID,ce2777e6-7144-11e5-ba71-058fbc01cf0b,ce2777e6-7144-11e5-ba71-058fbc01cf0b,ce2777e6-7144-11e5-ba71-058fbc01cf0b,ce2777e6-7144-11e5-ba71-058fbc01cf0b,ce2777e6-7144-11e5-ba71-058fbc01cf0b
Dog_ID,fd444202-7144-11e5-ba71-058fbc01cf0b,fd444202-7144-11e5-ba71-058fbc01cf0b,fd444202-7144-11e5-ba71-058fbc01cf0b,fd444202-7144-11e5-ba71-058fbc01cf0b,fd444202-7144-11e5-ba71-058fbc01cf0b
Test_name,One Cup Warm-up,Two Cup Warm-up,Memory versus Pointing,Memory versus Smell,Delayed Cup Game
Subcategory_name,Memory,Memory,Memory,Memory,Memory
Gender,male,male,male,male,male
Birthday,2012,2012,2012,2012,2012
Breed,Mixed,Mixed,Mixed,Mixed,Mixed
Breed_Type,Mixed Breed/ Other/ I Don't Know,Mixed Breed/ Other/ I Don't Know,Mixed Breed/ Other/ I Don't Know,Mixed Breed/ Other/ I Don't Know,Mixed Breed/ Other/ I Don't Know
Breed_Group,NaN,NaN,NaN,NaN,NaN
Weight,50,50,50,50,50
Dog_Fixed,1.0,1.0,1.0,1.0,1.0
DNA_Tested,0.0,0.0,0.0,0.0,0.0
Dimension,NaN,NaN,NaN,NaN,NaN
Sign_in_Count,12,12,12,12,12
Max_Dogs,1,1,1,1,1
Membership_ID,1.0,1.0,1.0,1.0,1.0
Subscribed,1,1,1,1,1
City,Singapore,Singapore,Singapore,Singapore,Singapore
State,NaN,NaN,NaN,NaN,NaN
Zip,466311,466311,466311,466311,466311
Country,SG,SG,SG,SG,SG
Exclude,NaN,NaN,NaN,NaN,NaN
Free_Start_User,NaN,NaN,NaN,NaN,NaN
Last_Active_At,2014-04-28 01:18:00,2014-04-28 01:18:00,2014-04-28 01:18:00,2014-04-28 01:18:00,2014-04-28 01:18:00
Membership_Type,1,1,1,1,1
Rating,NaN,NaN,NaN,NaN,NaN
Rank_by_UserID,12.0,13.0,14.0,15.0,16.0
Rank_by_DogID,12.0,13.0,14.0,15.0,16.0

In [10]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 177481 entries, 0 to 177480
Data columns (total 30 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Created_at        177481 non-null  datetime64[ns]
 1   Updated_at        177481 non-null  datetime64[ns]
 2   User_ID           177481 non-null  object
 3   Dog_ID            177481 non-null  object
 4   Test_name         177481 non-null  object
 5   Subcategory_name  177481 non-null  object
 6   Gender            177481 non-null  object
 7   Birthday          177481 non-null  int64
 8   Breed             177279 non-null  object
 9   Breed_Type        177481 non-null  object
 10  Breed_Group       88923 non-null   object
 11  Weight            177481 non-null  int64
 12  Dog_Fixed         175317 non-null  float64
 13  DNA_Tested        52968 non-null   float64
 14  Dimension         91070 non-null   object
 15  Sign_in_Count     177481 non-null  int64
 16  Max_Dogs          177481 non-null  int64
 17  Membership_ID     176335 non-null  float64
 18  Subscribed        177481 non-null  int64
 19  City              138477 non-null  object
 20  State             138492 non-null  object
 21  Zip               138127 non-null  object
 22  Country           139516 non-null  object
 23  Exclude           12763 non-null   object
 24  Free_Start_User   36321 non-null   object
 25  Last_Active_At    147876 non-null  object
 26  Membership_Type   176400 non-null  object
 27  Rating            1873 non-null    float64
 28  Rank_by_UserID    177025 non-null  float64
 29  Rank_by_DogID     177025 non-null  float64
dtypes: datetime64[ns](2), float64(6), int64(5), object(17)
memory usage: 40.6+ MB

In [11]:
df2.isnull().sum()

Created_at               0
Updated_at               0
User_ID                  0
Dog_ID                   0
Test_name                0
Subcategory_name         0
Gender                   0
Birthday                 0
Breed                  202
Breed_Type               0
Breed_Group          88558
Weight                   0
Dog_Fixed             2164
DNA_Tested          124513
Dimension            86411
Sign_in_Count            0
Max_Dogs                 0
Membership_ID         1146
Subscribed               0
City                 39004
State                38989
Zip                  39354
Country              37965
Exclude             164718
Free_Start_User     141160
Last_Active_At       29605
Membership_Type       1081
Rating              175608
Rank_by_UserID         456
Rank_by_DogID          456
dtype: int64

In [12]:
df.duplicated()

0        False
1        False
2        False
3        False
4        False
         ...
17981    False
17982    False
17983    False
17984    False
17985    False
Length: 17986, dtype: bool

In [13]:
df2.duplicated()

0         False
1         False
2         False
3         False
4         False
          ...
177476    False
177477    False
177478    False
177479    False
177480    False
Length: 177481, dtype: bool

In [14]:
df.drop_duplicates(subset=None, keep='first', inplace=False, ignore_index=False)

,Dog ID,Total Tests Completed,Mean ITI (days),Mean ITI (minutes),Median ITI (days),Median ITI (minutes),Time diff between first and last game (days),Time diff between first and last game (minutes),User ID,Gender,...,Membership_ID,Subscribed,City,State,Zip,Country,Exclude,Free_Start_User,Last_Active_At,Membership_Type
0,fd27b272-7144-11e5-ba71-058fbc01cf0b,21,28.201076,40609.549167,0.004687,6.750000,564.021516,812190.983333,ce134e42-7144-11e5-ba71-058fbc01cf0b,female,...,2.0,1.0,Grand Forks,ND,58201,US,0,0,2015-03-12 00:25:00,2
1,fd27b5ba-7144-11e5-ba71-058fbc01cf0b,20,0.413307,595.162281,0.005845,8.416667,7.852836,11308.083333,ce1353d8-7144-11e5-ba71-058fbc01cf0b,male,...,1.0,1.0,Barre,MA,01005,US,0,0,00:00:00,1
2,fd27b6b4-7144-11e5-ba71-058fbc01cf0b,2,0.009132,13.150000,0.009132,13.150000,0.009132,13.150000,ce135ab8-7144-11e5-ba71-058fbc01cf0b,male,...,1.0,1.0,Darien,CT,06820,US,0,0,00:00:00,1
3,fd27b79a-7144-11e5-ba71-058fbc01cf0b,11,56.115179,80805.858333,0.004433,6.383333,561.151794,808058.583333,ce13507c-7144-11e5-ba71-058fbc01cf0b,male,...,1.0,1.0,Winnetka,IL,60093,US,0,0,2014-09-12 19:26:00,1
4,fd27b86c-7144-11e5-ba71-058fbc01cf0b,31,7.734254,11137.326111,0.000399,0.575000,232.027627,334119.783333,ce135e14-7144-11e5-ba71-058fbc01cf0b,female,...,2.0,1.0,Raleigh,NC,27606,US,1,0,00:00:00,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17981,fdc235e0-7144-11e5-ba71-058fbc01cf0b,7,0.009408,13.547222,0.004786,6.891667,0.056447,81.283333,ce9b2aba-7144-11e5-ba71-058fbc01cf0b,male,...,10.0,0.0,NaN,NaN,NaN,NaN,0,0,2015-10-12 14:44:00,1
17982,fdc23a68-7144-11e5-ba71-058fbc01cf0b,1,NaN,NaN,NaN,NaN,0.000000,0.000000,ce9b2eb6-7144-11e5-ba71-058fbc01cf0b,male,...,9.0,0.0,NaN,NaN,NaN,NaN,0,1,2015-10-12 20:43:00,4
17983,fdc23ba8-7144-11e5-ba71-058fbc01cf0b,20,0.004957,7.137719,0.004201,6.050000,0.094178,135.616667,ce9b306e-7144-11e5-ba71-058fbc01cf0b,female,...,10.0,1.0,Carolina Beach,NC,28428,US,0,0,2015-10-12 20:13:00,1
17984,fdc23e96-7144-11e5-ba71-058fbc01cf0b,4,0.002948,4.244444,0.002778,4.000000,0.008843,12.733333,ce9b33b6-7144-11e5-ba71-058fbc01cf0b,female,...,9.0,0.0,NaN,NaN,NaN,NaN,0,1,2015-10-12 19:17:00,4
17985,fdc2417a-7144-11e5-ba71-058fbc01cf0b,6,0.004012,5.776667,0.003032,4.366667,0.020058,28.883333,ce9b35e6-7144-11e5-ba71-058fbc01cf0b,male,...,10.0,1.0,NaN,NaN,NaN,NaN,0,0,2015-10-12 20:49:00,1

In [15]:
#0 rows are removed from df

In [16]:
df2.drop_duplicates(subset=None, keep='first', inplace=False, ignore_index=False)

,Created_at,Updated_at,User_ID,Dog_ID,Test_name,Subcategory_name,Gender,Birthday,Breed,Breed_Type,...,State,Zip,Country,Exclude,Free_Start_User,Last_Active_At,Membership_Type,Rating,Rank_by_UserID,Rank_by_DogID
0,2013-05-13 16:17:00,2013-05-13 16:17:00,ce134a78-7144-11e5-ba71-058fbc01cf0b,fd3d1b44-7144-11e5-ba71-058fbc01cf0b,Yawn Warm-up,Empathy,male,2009,Shih Tzu,Pure Breed,...,NC,27701,US,1,0,2015-02-23 13:39:00,2,NaN,1.0,1.0
1,2013-05-22 18:54:00,2013-05-22 18:54:00,ce134a78-7144-11e5-ba71-058fbc01cf0b,fd3d1b44-7144-11e5-ba71-058fbc01cf0b,Yawn Game,Empathy,male,2009,Shih Tzu,Pure Breed,...,NC,27701,US,1,0,2015-02-23 13:39:00,2,NaN,2.0,2.0
2,2013-05-22 18:55:00,2013-05-22 18:55:00,ce134a78-7144-11e5-ba71-058fbc01cf0b,fd3d1b44-7144-11e5-ba71-058fbc01cf0b,Eye Contact Warm-up,Empathy,male,2009,Shih Tzu,Pure Breed,...,NC,27701,US,1,0,2015-02-23 13:39:00,2,NaN,3.0,3.0
3,2013-05-22 18:56:00,2013-05-22 18:56:00,ce134a78-7144-11e5-ba71-058fbc01cf0b,fd3d1b44-7144-11e5-ba71-058fbc01cf0b,Eye Contact Game,Empathy,male,2009,Shih Tzu,Pure Breed,...,NC,27701,US,1,0,2015-02-23 13:39:00,2,NaN,4.0,4.0
4,2013-05-22 18:58:00,2013-05-22 18:58:00,ce134a78-7144-11e5-ba71-058fbc01cf0b,fd3d1b44-7144-11e5-ba71-058fbc01cf0b,Treat Warm-up,Communication,male,2009,Shih Tzu,Pure Breed,...,NC,27701,US,1,0,2015-02-23 13:39:00,2,NaN,5.0,5.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
177476,2013-05-14 08:45:00,2013-05-14 08:45:00,ce2777e6-7144-11e5-ba71-058fbc01cf0b,fd444202-7144-11e5-ba71-058fbc01cf0b,One Cup Warm-up,Memory,male,2012,Mixed,Mixed Breed/ Other/ I Don't Know,...,NaN,466311,SG,NaN,NaN,2014-04-28 01:18:00,1,NaN,12.0,12.0
177477,2013-05-14 08:50:00,2013-05-14 08:50:00,ce2777e6-7144-11e5-ba71-058fbc01cf0b,fd444202-7144-11e5-ba71-058fbc01cf0b,Two Cup Warm-up,Memory,male,2012,Mixed,Mixed Breed/ Other/ I Don't Know,...,NaN,466311,SG,NaN,NaN,2014-04-28 01:18:00,1,NaN,13.0,13.0
177478,2013-05-14 08:54:00,2013-05-14 08:54:00,ce2777e6-7144-11e5-ba71-058fbc01cf0b,fd444202-7144-11e5-ba71-058fbc01cf0b,Memory versus Pointing,Memory,male,2012,Mixed,Mixed Breed/ Other/ I Don't Know,...,NaN,466311,SG,NaN,NaN,2014-04-28 01:18:00,1,NaN,14.0,14.0
177479,2013-05-19 04:45:00,2013-05-19 04:45:00,ce2777e6-7144-11e5-ba71-058fbc01cf0b,fd444202-7144-11e5-ba71-058fbc01cf0b,Memory versus Smell,Memory,male,2012,Mixed,Mixed Breed/ Other/ I Don't Know,...,NaN,466311,SG,NaN,NaN,2014-04-28 01:18:00,1,NaN,15.0,15.0
177480,2013-05-19 05:05:00,2013-05-19 05:05:00,ce2777e6-7144-11e5-ba71-058fbc01cf0b,fd444202-7144-11e5-ba71-058fbc01cf0b,Delayed Cup Game,Memory,male,2012,Mixed,Mixed Breed/ Other/ I Don't Know,...,NaN,466311,SG,NaN,NaN,2014-04-28 01:18:00,1,NaN,16.0,16.0

In [17]:
#216 rows of duplicate records are removed from df2

In [18]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
Total Tests Completed,17986.0,9.807239,7.799484,1.000000e+00,4.000000,7.000000,16.000000,4.500000e+01
Mean ITI (days),16718.0,2.300726,10.117684,6.091646e-07,0.003719,0.146637,1.226744,6.509563e+02
Mean ITI (minutes),16718.0,3313.045589,14569.464530,8.771971e-04,5.355556,211.157051,1766.511404,9.373770e+05
Median ITI (days),16718.0,0.275986,7.182127,0.000000e+00,0.002998,0.003895,0.005012,6.509563e+02
Median ITI (minutes),16718.0,397.420037,10342.262528,0.000000e+00,4.316667,5.608333,7.216667,9.373770e+05
Time diff between first and last game (days),17986.0,25.140728,75.788752,0.000000e+00,0.009343,0.724473,11.890451,9.605604e+02
Time diff between first and last game (minutes),17986.0,36202.648857,109135.803050,0.000000e+00,13.454167,1043.241667,17122.250000,1.383207e+06
Birthday,17985.0,2009.932388,3.341993,1.982000e+03,2008.000000,2011.000000,2012.000000,2.015000e+03
Weight,17985.0,41.485683,29.380373,0.000000e+00,20.000000,40.000000,60.000000,1.900000e+02
Dog_Fixed,17985.0,0.850876,0.356221,0.000000e+00,1.000000,1.000000,1.000000,1.000000e+00
DNA_Tested,17985.0,0.036697,0.188023,0.000000e+00,0.000000,0.000000,0.000000,1.000000e+00
Sign_in_Count,17985.0,8.329386,68.940494,0.000000e+00,2.000000,3.000000,6.000000,1.695000e+03
Max_Dogs,17985.0,1.273450,1.466773,0.000000e+00,1.000000,1.000000,1.000000,3.600000e+01
Membership_ID,17985.0,7.411565,3.938681,0.000000e+00,2.000000,10.000000,10.000000,1.700000e+01
Subscribed,17985.0,0.549124,0.497595,0.000000e+00,0.000000,1.000000,1.000000,1.000000e+00

In [19]:
df2.describe().T

,count,mean,std,min,25%,50%,75%,max
Birthday,177481.0,2009.898265,3.280318,1982.0,2008.0,2011.0,2012.0,2015.0
Weight,177481.0,42.683442,29.171277,0.0,20.0,40.0,60.0,190.0
Dog_Fixed,175317.0,0.876144,0.329418,0.0,1.0,1.0,1.0,1.0
DNA_Tested,52968.0,0.141633,0.348676,0.0,0.0,0.0,0.0,1.0
Sign_in_Count,177481.0,11.441771,69.452489,0.0,3.0,5.0,10.0,1695.0
Max_Dogs,177481.0,1.373251,1.545094,0.0,1.0,1.0,1.0,36.0
Membership_ID,176335.0,7.113250,4.201120,1.0,2.0,10.0,10.0,17.0
Subscribed,177481.0,0.665192,0.471925,0.0,0.0,1.0,1.0,1.0
Rating,1873.0,2.104645,2.514859,0.0,0.0,1.0,3.0,9.0
Rank_by_UserID,177025.0,14.008728,49.376213,1.0,3.0,8.0,15.0,1075.0
Rank_by_DogID,177025.0,8.494088,6.670537,1.0,3.0,7.0,13.0,45.0

In [22]:
df[df['Breed'].isna()]

,Dog ID,Total Tests Completed,Mean ITI (days),Mean ITI (minutes),Median ITI (days),Median ITI (minutes),Time diff between first and last game (days),Time diff between first and last game (minutes),User ID,Gender,...,Membership_ID,Subscribed,City,State,Zip,Country,Exclude,Free_Start_User,Last_Active_At,Membership_Type
878,fd431242-7144-11e5-ba71-058fbc01cf0b,20,9.668981,13923.333333,0.005000,7.200000,183.710648,264543.333333,ce26721a-7144-11e5-ba71-058fbc01cf0b,male,...,1.0,1.0,Portsmouth,NH,03801,US,0,0,2014-04-14 13:26:00,1
1060,fd43ce08-7144-11e5-ba71-058fbc01cf0b,30,2.888853,4159.948851,0.004201,6.050000,83.776748,120638.516667,ce27072a-7144-11e5-ba71-058fbc01cf0b,female,...,2.0,1.0,Bloomfield Hills,MI,48304,US,0,0,2014-12-17 22:25:00,2
1687,fd461262-7144-11e5-ba71-058fbc01cf0b,4,0.003368,4.850000,0.002639,3.800000,0.010104,14.550000,ce28ef40-7144-11e5-ba71-058fbc01cf0b,male,...,1.0,1.0,Sale,ACT,3850,AU,0,0,2014-02-21 22:58:00,1
2062,fd47f686-7144-11e5-ba71-058fbc01cf0b,11,0.522775,752.796667,0.003067,4.416667,5.227755,7527.966667,ce2a8c38-7144-11e5-ba71-058fbc01cf0b,female,...,1.0,1.0,Tacoma,WA,98409,US,0,0,00:00:00,1
2109,fd481918-7144-11e5-ba71-058fbc01cf0b,20,0.417244,600.830702,0.004618,6.650000,7.927627,11415.783333,ce2ab050-7144-11e5-ba71-058fbc01cf0b,male,...,1.0,1.0,Englewood,NJ,07631,US,0,0,2015-07-25 21:31:00,1
2115,fd4821c4-7144-11e5-ba71-058fbc01cf0b,20,1.161048,1671.908772,0.006146,8.850000,22.059907,31766.266667,ce2ac89c-7144-11e5-ba71-058fbc01cf0b,male,...,1.0,0.0,Bullard,TX,75757,US,0,0,00:00:00,1
2126,fd48393e-7144-11e5-ba71-058fbc01cf0b,20,0.384771,554.070175,0.006238,8.983333,7.310648,10527.333333,ce2ace3c-7144-11e5-ba71-058fbc01cf0b,male,...,1.0,1.0,Cashiers,NC,28717,US,0,0,2014-03-27 18:59:00,1
2140,fd4840aa-7144-11e5-ba71-058fbc01cf0b,20,0.079521,114.510526,0.004699,6.766667,1.510903,2175.700000,ce2ad602-7144-11e5-ba71-058fbc01cf0b,female,...,1.0,1.0,Folsom,CA,95630,US,0,0,00:00:00,1
2157,fd48509a-7144-11e5-ba71-058fbc01cf0b,20,0.020399,29.374561,0.005058,7.283333,0.387581,558.116667,ce2ae20a-7144-11e5-ba71-058fbc01cf0b,female,...,1.0,0.0,Temecula,CA,92592,US,0,0,00:00:00,1
2633,fd4b48d6-7144-11e5-ba71-058fbc01cf0b,7,5.051883,7274.711111,0.003675,5.291667,30.311296,43648.266667,ce2e13a8-7144-11e5-ba71-058fbc01cf0b,male,...,1.0,1.0,Los Angeles,CA,90024,US,0,0,2014-10-20 19:48:00,1
2944,fd503396-7144-11e5-ba71-058fbc01cf0b,4,0.002666,3.838889,0.002766,3.983333,0.007998,11.516667,ce31980c-7144-11e5-ba71-058fbc01cf0b,female,...,8.0,0.0,NaN,NaN,NaN,NaN,0,1,00:00:00,4
3052,fd513d90-7144-11e5-ba71-058fbc01cf0b,11,3.908147,5627.731667,0.003814,5.491667,39.081470,56277.316667,ce326fd4-7144-11e5-ba71-058fbc01cf0b,male,...,1.0,0.0,NaN,NaN,NaN,NaN,0,1,00:00:00,1
3443,fd539734-7144-11e5-ba71-058fbc01cf0b,4,0.005224,7.522222,0.003310,4.766667,0.015671,22.566667,ce34a312-7144-11e5-ba71-058fbc01cf0b,male,...,8.0,0.0,NaN,NaN,NaN,NaN,0,1,00:00:00,4
3763,fd56137e-7144-11e5-ba71-058fbc01cf0b,4,0.003017,4.344444,0.002975,4.283333,0.009051,13.033333,ce36f536-7144-11e5-ba71-058fbc01cf0b,female,...,8.0,0.0,NaN,NaN,NaN,NaN,0,1,00:00:00,4
4431,fd5cc516-7144-11e5-ba71-058fbc01cf0b,7,0.005314,7.652778,0.003571,5.141667,0.031887,45.916667,ce3dcee2-7144-11e5-ba71-058fbc01cf0b,male,...,8.0,0.0,NaN,NaN,NaN,NaN,0,1,00:00:00,4
16643,fdbb6b7a-7144-11e5-ba71-058fbc01cf0b,20,0.002747,3.956140,0.001644,2.366667,0.052199,75.166667,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [23]:
df[df['Breed_Type'].isna()]

,Dog ID,Total Tests Completed,Mean ITI (days),Mean ITI (minutes),Median ITI (days),Median ITI (minutes),Time diff between first and last game (days),Time diff between first and last game (minutes),User ID,Gender,...,Membership_ID,Subscribed,City,State,Zip,Country,Exclude,Free_Start_User,Last_Active_At,Membership_Type
16643,fdbb6b7a-7144-11e5-ba71-058fbc01cf0b,20,0.002747,3.95614,0.001644,2.366667,0.052199,75.166667,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [24]:
df[df['User ID'].isna()]

,Dog ID,Total Tests Completed,Mean ITI (days),Mean ITI (minutes),Median ITI (days),Median ITI (minutes),Time diff between first and last game (days),Time diff between first and last game (minutes),User ID,Gender,...,Membership_ID,Subscribed,City,State,Zip,Country,Exclude,Free_Start_User,Last_Active_At,Membership_Type
16643,fdbb6b7a-7144-11e5-ba71-058fbc01cf0b,20,0.002747,3.95614,0.001644,2.366667,0.052199,75.166667,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [26]:
df2.loc[df2['Dog_ID'] == 'fdbb6b7a-7144-11e5-ba71-058fbc01cf0b']

Empty DataFrame
Columns: [Created_at, Updated_at, User_ID, Dog_ID, Test_name, Subcategory_name, Gender, Birthday, Breed, Breed_Type, Breed_Group, Weight, Dog_Fixed, DNA_Tested, Dimension, Sign_in_Count, Max_Dogs, Membership_ID, Subscribed, City, State, Zip, Country, Exclude, Free_Start_User, Last_Active_At, Membership_Type, Rating, Rank_by_UserID, Rank_by_DogID]
Index: []

[0 rows x 30 columns]

In [27]:
#Since the only 1 missing value in most of the columns belong to the same row, drop row with missing value in Breed
df3 = df.dropna(subset=['Breed'])

In [28]:
#check missing value count again
df3.isnull().sum()

Dog ID                                                0
Total Tests Completed                                 0
Mean ITI (days)                                    1268
Mean ITI (minutes)                                 1268
Median ITI (days)                                  1268
Median ITI (minutes)                               1268
Time diff between first and last game (days)          0
Time diff between first and last game (minutes)       0
User ID                                               0
Gender                                                0
Birthday                                              0
Breed                                                 0
Breed_Type                                            0
Breed_Group                                           0
Weight                                                0
Dog_Fixed                                             0
DNA_Tested                                            0
Dimension                                             0
Sign_in_Count                                         0
Max_Dogs                                              0
Membership_ID                                         0
Subscribed                                            0
City                                               6362
State                                              6357
Zip                                                6391
Country                                            6262
Exclude                                               0
Free_Start_User                                       0
Last_Active_At                                        0
Membership_Type                                       0
dtype: int64

In [32]:
#drop columns with 
cdf = df3.drop(columns=['Mean ITI (days)', 'Mean ITI (minutes)', 'Median ITI (days)', 'Median ITI (minutes)'])

In [33]:
cdf.isnull().sum()

Dog ID                                                0
Total Tests Completed                                 0
Time diff between first and last game (days)          0
Time diff between first and last game (minutes)       0
User ID                                               0
Gender                                                0
Birthday                                              0
Breed                                                 0
Breed_Type                                            0
Breed_Group                                           0
Weight                                                0
Dog_Fixed                                             0
DNA_Tested                                            0
Dimension                                             0
Sign_in_Count                                         0
Max_Dogs                                              0
Membership_ID                                         0
Subscribed                                            0
City                                               6362
State                                              6357
Zip                                                6391
Country                                            6262
Exclude                                               0
Free_Start_User                                       0
Last_Active_At                                        0
Membership_Type                                       0
dtype: int64

In [40]:
cdf.loc[cdf['Exclude'] == 1]

,Dog ID,Total Tests Completed,Time diff between first and last game (days),Time diff between first and last game (minutes),User ID,Gender,Birthday,Breed,Breed_Type,Breed_Group,...,Membership_ID,Subscribed,City,State,Zip,Country,Exclude,Free_Start_User,Last_Active_At,Membership_Type
4,fd27b86c-7144-11e5-ba71-058fbc01cf0b,31,232.027627,334119.783333,ce135e14-7144-11e5-ba71-058fbc01cf0b,female,2010.0,Shih Tzu,Pure Breed,Toy,...,2.0,1.0,Raleigh,NC,27606,US,1,0,00:00:00,2
6,fd27ba1a-7144-11e5-ba71-058fbc01cf0b,27,160.955336,231775.683333,ce135e14-7144-11e5-ba71-058fbc01cf0b,male,1982.0,Shih Tzu,Pure Breed,Toy,...,2.0,1.0,Raleigh,NC,27606,US,1,0,00:00:00,2
43,fd27e9a4-7144-11e5-ba71-058fbc01cf0b,22,116.141678,167244.016667,ce135e14-7144-11e5-ba71-058fbc01cf0b,male,2012.0,Shih Tzu,Pure Breed,Toy,...,2.0,1.0,Raleigh,NC,27606,US,1,0,00:00:00,2
45,fd27ed46-7144-11e5-ba71-058fbc01cf0b,25,103.807812,149483.250000,ce135e14-7144-11e5-ba71-058fbc01cf0b,female,2012.0,Shih Tzu,Pure Breed,Toy,...,2.0,1.0,Raleigh,NC,27606,US,1,0,00:00:00,2
69,fd3cf718-7144-11e5-ba71-058fbc01cf0b,17,20.097951,28941.050000,ce135e14-7144-11e5-ba71-058fbc01cf0b,female,2012.0,Shih Tzu,Pure Breed,Toy,...,2.0,1.0,Raleigh,NC,27606,US,1,0,00:00:00,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6078,fd699cf0-7144-11e5-ba71-058fbc01cf0b,5,1.290081,1857.716667,ce674eb6-7144-11e5-ba71-058fbc01cf0b,male,2002.0,Beagle,Pure Breed,Hound,...,2.0,0.0,NaN,NaN,NaN,NaN,1,0,2014-09-09 20:42:00,2
8998,fd73b53c-7144-11e5-ba71-058fbc01cf0b,7,0.006377,9.183333,ce74652e-7144-11e5-ba71-058fbc01cf0b,male,2013.0,Shih Tzu,Pure Breed,Toy,...,14.0,1.0,NaN,NaN,NaN,NaN,1,1,2014-10-22 14:38:00,2
10867,fd7af63a-7144-11e5-ba71-058fbc01cf0b,20,0.062789,90.416667,ce135cf2-7144-11e5-ba71-058fbc01cf0b,male,2015.0,Golden Retriever,Pure Breed,Sporting,...,2.0,1.0,Durham,NC,27707,US,1,0,2015-03-24 16:03:00,2
11062,fd7b9f4a-7144-11e5-ba71-058fbc01cf0b,4,0.003553,5.116667,ce135cf2-7144-11e5-ba71-058fbc01cf0b,female,2013.0,Other,Mixed Breed/ Other/ I Don't Know,0,...,2.0,1.0,Durham,NC,27707,US,1,0,2015-03-24 16:03:00,2
11210,fd7c1ace-7144-11e5-ba71-058fbc01cf0b,7,0.016204,23.333333,ce2258a6-7144-11e5-ba71-058fbc01cf0b,female,2011.0,Other,Mixed Breed/ Other/ I Don't Know,0,...,2.0,1.0,Winston Salem,NC,27104,US,1,0,2015-09-10 15:06:00,2

In [41]:
#drop rows that Dognition indicats the entries should be excluded
cdf1 = cdf[cdf.Exclude !=1]

In [45]:
cdf1.loc[cdf1['Exclude'] == 1]

Empty DataFrame
Columns: [Dog ID, Total Tests Completed, Time diff between first and last game (days), Time diff between first and last game (minutes), User ID, Gender, Birthday, Breed, Breed_Type, Breed_Group, Weight, Dog_Fixed, DNA_Tested, Dimension, Sign_in_Count, Max_Dogs, Membership_ID, Subscribed, City, State, Zip, Country, Exclude, Free_Start_User, Last_Active_At, Membership_Type]
Index: []

[0 rows x 26 columns]

In [46]:
#Since the rows flagged as "Exclude" are removed, drop column 'Exclude' because it is not needed anymore.
cdf2 = cdf1.drop(columns=['Exclude'])

In [47]:
cdf2.head().T

,0,1,2,3,5
Dog ID,fd27b272-7144-11e5-ba71-058fbc01cf0b,fd27b5ba-7144-11e5-ba71-058fbc01cf0b,fd27b6b4-7144-11e5-ba71-058fbc01cf0b,fd27b79a-7144-11e5-ba71-058fbc01cf0b,fd27b948-7144-11e5-ba71-058fbc01cf0b
Total Tests Completed,21,20,2,11,20
Time diff between first and last game (days),564.021516,7.852836,0.009132,561.151794,3.39316
Time diff between first and last game (minutes),812190.983333,11308.083333,13.15,808058.583333,4886.15
User ID,ce134e42-7144-11e5-ba71-058fbc01cf0b,ce1353d8-7144-11e5-ba71-058fbc01cf0b,ce135ab8-7144-11e5-ba71-058fbc01cf0b,ce13507c-7144-11e5-ba71-058fbc01cf0b,ce13615c-7144-11e5-ba71-058fbc01cf0b
Gender,female,male,male,male,male
Birthday,2011.0,2007.0,2012.0,2011.0,2011.0
Breed,Labrador Retriever,Shetland Sheepdog,Golden Retriever,Golden Retriever,Siberian Husky
Breed_Type,Pure Breed,Pure Breed,Pure Breed,Pure Breed,Pure Breed
Breed_Group,Sporting,Herding,Sporting,Sporting,Working
Weight,50.0,20.0,70.0,70.0,60.0
Dog_Fixed,1.0,1.0,0.0,0.0,1.0
DNA_Tested,0.0,0.0,1.0,0.0,0.0
Dimension,charmer,protodog,0,0,stargazer
Sign_in_Count,14.0,8.0,3.0,21.0,6.0
Max_Dogs,2.0,2.0,1.0,1.0,1.0
Membership_ID,2.0,1.0,1.0,1.0,1.0
Subscribed,1.0,1.0,1.0,1.0,1.0
City,Grand Forks,Barre,Darien,Winnetka,Auburn
State,ND,MA,CT,IL,WA
Zip,58201,01005,06820,60093,98001
Country,US,US,US,US,US
Free_Start_User,0,0,0,0,0
Last_Active_At,2015-03-12 00:25:00,00:00:00,00:00:00,2014-09-12 19:26:00,00:00:00
Membership_Type,2,1,1,1,1